@font-face {
    font-family: Nove;
    src: url(fonts/Nove.ttf);
}

 header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
 header img {
    height: 40px;  
}
  

  header nav {
    display: flex;
    align-items: flex-start;

  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #ccc;
  }
  

  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: relative;
  }
  
  img {
    max-width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* Add a container around the image */
.img-container {
    position: relative; /* Position the container relatively */
    text-align: center; /* Center the button horizontally */
}

@media only screen and (min-width: 800px) {
    img {
      max-width: 60%;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    img {
      max-width: 100%;
      margin-left: -30px;
    }
  }
  

  .order-btn {
    border: 2px solid black; /* Remove border */
    color: black;
    background-color: rgb(228, 228, 77);    
    padding: 5px 12px; /* Some padding */
    margin: 5px 5px;
    text-align: center; /* Center the text */
    display: inline-block; /* Make the button inline */
    font-size: 16px; /* Increase font size */
    font-weight: bold;
    cursor: pointer; /* Add a pointer cursor on hover */
    font-family: Nove;
    src: url(fonts/Nove.ttf);
    border-radius: 5px;
  }
  
  .order-btn:hover{
    background-color: #333;
    color: #fff;
  }
  
  .order-btn:before {
    content: "\1F34B " " " ;
  }

  .order-btn:after {
    content: " \1F34B";
  }

  .bottom-center-btn{
    border: 4px solid black; /* Remove border */
    color: black;
    background-color: rgb(228, 228, 77);    
    padding: 30px 200px; /* Some padding */
    margin: 216px 5px;
    text-align: center; /* Center the text */
    display: inline-block; /* Make the button inline */
    font-size: 40px; /* Increase font size */
    font-weight: bold;
    cursor: pointer; /* Add a pointer cursor on hover */
    font-family: Nove;
    src: url(fonts/Nove.ttf);
    border-radius: 5px;
  }

/* Position the button on the container */
.bottom-center-btn {
    position: absolute;
    left: 50%; /* Horizontally center the button */
    transform: translateX(-50%); /* Adjust the horizontal position of the button to center it */
    z-index: 2;
    font-family: Nove;
    src: url(fonts/Nove.ttf);
    white-space: nowrap;
}

/* Adjust the button position on smaller screens */
@media only screen and (max-width: 300px) {
    .bottom-center-btn {
        bottom: 120px; /* Adjust as needed */
        padding: 15px 100px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 300px) {
    .bottom-center-btn {
        /* Add styles for larger screens */
        bottom: 295px; /* Adjust as needed */
    }
}


  
  .bottom-center-btn::before {
    content: "\1F34B " " " ;
  }

  .bottom-center-btn::after {
    content: " \1F34B";
  }

  .bottom-center-btn:hover{
    background-color: #333;
    color: #fff;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .footer img {
    height: 40px;
  }
  
  .footer p {
    margin: 0;
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
    font-family: Nove;
    src: url(fonts/Nove.ttf);
  }

  #age-verification {
    display: none; /* hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: 3; /* ensure the modal is on top of other elements */
}

#age-verification-modal {
    background-color: #f4d40d; /* yellow background */
    color: #333; /* black text */
    padding: 45px;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the modal */
    box-shadow: solid 5px black;
    border: solid 2px #333;
}

#age-verification-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#age-verification-buttons button {
    background-color: #333; /* black background */
    color: #f4d40d; /* yellow text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -10px 10px 0px 10px;
}

.logo {
    position: relative; /* Position the logo */
    top: 20px; /* Set a top margin */
    left: 50%; /* Position the logo horizontally in the center */
    transform: translateX(-50%); /* Adjust the horizontal position to center the logo */
    max-width: 100%; /* Make the logo responsive */
    height: auto; /* Make the logo responsive */
}

@media only screen and (min-width: 600px) {
    .logo-img {
        max-width: 60%; /* Reduce the width of the logo on larger screens */
    }
}
  

  #age-verification-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Nove;
    src: url(fonts/Nove.ttf);
}

.logo {
    width: 100%; /* adjust to desired size */
    max-width: 200px; /* optional: set a maximum width for responsiveness */
    margin: -28px auto 15px auto; /* center the logo horizontally */
}

@media only screen and (max-width: 600px) {
    #age-verification-modal {
      width: 42%; /* Increase the width of the modal to 90% on mobile devices */
      height: 19%; /* Increase the height of the modal to 90% on mobile devices */
      font-size: 25px;
      
    }
  }
  
  #age-verification {
    display: none; /* hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    z-index: 3; /* ensure the modal is on top of other elements */
}

#age-verification-modal {
    background-color: #f4d40d; /* yellow background */
    color: #333; /* black text */
    padding: 45px;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the modal */
    border: solid 2px #333;
    font-size: 30px;

}

#age-verification-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#age-verification-buttons button {
    background-color: #333; /* black background */
    color: #f4d40d; /* yellow text */
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: -10px 10px 0px 10px;
    font-size: 22px;

}

.logo {
    position: relative; /* Position the logo */
    top: 20px; /* Set a top margin */
    left: 50%; /* Position the logo horizontally in the center */
    transform: translateX(-50%); /* Adjust the horizontal position to center the logo */
    max-width: 100%; /* Make the logo responsive */
    height: auto; /* Make the logo responsive */
}

@media only screen and (min-width: 600px) {
    .logo-img {
        max-width: 60%; /* Reduce the width of the logo on larger screens */
    }
}
  

  #age-verification-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Nove;
    src: url(fonts/Nove.ttf);
}

.logo {
    width: 100%; /* adjust to desired size */
    max-width: 200px; /* optional: set a maximum width for responsiveness */
    margin: -28px auto 15px auto; /* center the logo horizontally */
}

@media only screen and (max-width: 600px) {
    #age-verification-modal, #age-verification-buttons button  {
      width: 75%; /* Increase the width of the modal to 90% on mobile devices */
      height: 30%; /* Increase the height of the modal to 90% on mobile devices */
      font-size: 45px;
      position: relative;
    }
  }
 
